// Search Box

// Variables
$searchBox-height: 48px;
$input-font-size: 15px;
$input-shadow-opacity: 0.25;
$button-font-size: 1.5em;

// Block
.searchBox {
  height: $searchBox-height;
  margin: $gutter-l 0;
  position: relative;
  width: 100%;
}

.typeAhead {
  height: 100%;

  input {
    appearance: none;
    border: 1px solid $searchBox-border-color;
    border-radius: 1px;
    box-shadow: 1px 2px 5px rgba($dark, $input-shadow-opacity);
    display: inline-block;
    font-size: $input-font-size;
    overflow: hidden;
    padding-left: $gutter;
    text-overflow: ellipsis;
    width: 100%;
  }
}

:global {
  .dropdown-menu {
    background-color: $light;
    display: flex !important;
    flex-direction: column;
    padding: $gutter;
  }
}

.button {
  border: 0;
  background-color: $searchBox-button-bg;
  color: $light;
  height: 100%;
  font-size: $button-font-size;
  padding: 0 $gutter;
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  margin-left: $gutter-xs;
}
