// Category Page

// Variables
$thumbnailMinWidth: 180px;

// Block
.container {
  margin: 0 auto;
  max-width: $content-max-width;
  width: 95%;
}

.thumbnailsContainer {
  display: grid;
  gap: $gutter;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, $thumbnailMinWidth), 1fr)
  );
  margin-bottom: $gutter;
}
