// Colors - Theme

// Color Palette
$_light: #fff;
$_dark: #000;
$_text-color: #888;
$_app-background: #fff;
$_link-color: #000;
$_link-hover-color: #ddd;
$_header-bg-color: #f5f5f5;
$_header-border: #ddd;
$_footer-bg-color: #f5f5f5;
$_footer-link-hover-color: #00a8ff;
$_searchBox-border-color: #ccc;
$_searchBox-button-bg: #0f82f5;
$_searchBox-disabled-button-bg: #888;

// CSS Variables definition for theming
// c- stands for custom-
$light: var(--c-light, $_light);
$dark: var(--c-dark, $_dark);
$text-color: var(--c-text-color, $_text-color);
$app_background: var(--c-app_background, $_app_background);
$link-color: var(--c-link-color, $_link-color);
$link-hover-color: var(--c-link-hover-color, $_link-hover-color);
$header-bg-color: var(--c-header-bg-color, $_header-bg-color);
$header-border: var(--c-header-border, $_header-border);
$footer-bg-color: var(--c-footer-bg-color, $_footer-bg-color);
$footer-link-hover-color: var(
  --c-footer-link-hover-color,
  $_footer-link-hover-color
);
$searchBox-border-color: var(
  --c-searchBox-border-color,
  $_searchBox-border-color
);
$searchBox-button-bg: var(--c-searchBox-button-bg, $_searchBox-button-bg);
$searchBox-disabled-button-bg: var(
  --c-searchBox-disabled-button-bg,
  $_searchBox-disabled-button-bg
);
