// Typography
$_font-family: "Open Sans", sans-serif;
$_font-weight: 400;
$_font-size: 14px;

$font-family: var(--c-font-family, $_font-family);
$font-weight: var(--c-font-weight, $_font-weight);
$font-size: var(--c-font-size, $_font-size);
