// Event Thumbnail

// Variables
$image-width: 180px;
$event-detail-font-size: 12px;
$event-detail-line-height: 20px;
$event-title-font-size: 14px;
$event-tittle-ribbon-height: 64px;
$animation-delay: 0.4s;
$scale-amount: 1.05;

// Block
.eventItem {
  position: relative;
  transition: transform $animation-delay;
  will-change: transform;

  &:hover {
    transform: scale($scale-amount);
  }
}

.eventTitle {
  background-color: rgba(1, 1, 1, 0.7);
  display: flex;
  align-items: center;
  bottom: 0;
  color: $light;
  font-size: $event-title-font-size;
  height: $event-tittle-ribbon-height;
  padding: $gutter-s;
  position: absolute;
  width: 100%;

  strong {
    @include ellipsis;
  }
}

.eventImage {
  width: 100%;
}

.eventDetails {
  padding: $gutter-xs;
  font-size: $event-detail-font-size;
  line-height: $event-detail-line-height;
}

.venue {
  @include ellipsis;
}

.eventActions {
  padding: $gutter-xs;
  text-align: right;
}

.eventBuyButton {
  border-radius: 0;
  background-color: #80c500;
  background-image: none;
  border: none;
  color: #ffffff;
  font-size: 100%;
  padding: 3px 8px;
  transition: all 0.2s ease-out;
  text-shadow: none;
  white-space: nowrap;

  &:hover {
    background-color: #379f15;
  }
}

.iconWrapper {
  align-items: center;
  display: flex;
  gap: $gutter-xs;
}
