// Ticket Table Item

// Variables

// Blocks
.row {
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #fafafa;
  }
}

.location {
  text-align: left;
  padding: 10px;
}

td:not(.location) {
  padding: 10px;
  text-align: center;
}

.name {
  font-weight: bold;
}

.ticketLocation {
  display: block;
}

.seat {
  display: block;
  font-size: 12px;
}

.buyButton {
  border-radius: 0;
  background-color: #80c500;
  background-image: none;
  border: none;
  color: #ffffff;
  font-size: 100%;
  padding: 3px 8px;
  transition: all 0.2s ease-out;
  text-shadow: none;
  white-space: nowrap;
}
