// TODO[JB]: Clean up these styles, as they are
// quite noisy and the selectors are not nice.

// Ticket Table Item

// Variables

// Blocks
.row {
  border-bottom: 1px solid #ddd;
}

.row:last-child {
  border-bottom: none;
}

.row:hover {
  background-color: #fafafa;
}

.row .location {
  text-align: left;
}

.row .location .name {
  font-weight: bold;
}

.row .location .ticketLocation {
  display: block;
}

.row .location .ticketLocation .seat {
  display: block;
  font-size: 12px;
}

.row .action .buyButton {
  border-radius: 0;
  background-color: #80c500;
  background-image: none;
  border: none;
  color: #ffffff;
  font-size: 100%;
  padding: 3px 8px;
  transition: all 0.2s ease-out;
  text-shadow: none;
  white-space: nowrap;
}

.location {
  padding: 10px;
}

td:not(.location) {
  padding: 10px;
  text-align: center;
}
