// Ticket Actions

// Variables

// Block
.ticketItem {
  border-top: 1px solid #f5f5f5;
  display: flex;
  gap: $gutter-xs;
  margin-top: $gutter-s;
}

.iconText {
  margin-left: $gutter-xs;
}

.button {
  background: #f5f5f5;
  border: 1px solid transparent;
  color: #888;
  display: block;
  margin: $gutter-xs;
  padding: $gutter-xs;
  width: 100%;

  &:hover {
    background-color: #eee;
    border-color: #ddd;
  }

  &:disabled {
    background-color: #a5a1a1;
    pointer-events: none;
  }
}
