// Defaulting styles for the APP
html,
body {
  height: 100%;
}

body {
  background-color: $app_background;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: normal;
  text-rendering: optimizeLegibility;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}
